@import "pages/styles/variables";

.sidebar {
  font-family: "Montserrat", serif;
  width: 801px;
  color: black;
  display: flex;
  flex-direction: column;
  background: white;
}

.topbar {
  height: 110px;
  position: relative;

  &:after {
    position: absolute;
    width: calc(100% - 2rem);
    height: 100%;
    content: "";
    left: 50%;
    top: 0;
    border-bottom: 1px solid #f5f5f5;
    transform: translateX(-50%);
  }
}

.main {
  flex-grow: 1;
  background: white;
}

.container {
  background: white;
}