@import "pages/styles/variables";
@import "pages/styles/layout";

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", serif;
  z-index: 1;
}

.login {
  background: white;
  box-shadow: 0 0 30px -5px #666;
  display: flex;
  flex-direction: row;
  margin-top: -5vh;
  width: 32%;
  min-width: 600px;
}

.main {
  padding: 2rem;
  flex-grow: 1;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.button {
}

.forgot {
  font-weight: 300;
  color: #999;
  font-size: .8rem;
}

.forgotWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.navigation {
  padding: 0;
  background: #333333;
}