@import "pages/styles/variables";

.container {
  border: 1px solid #eeeeee;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color .2s;

  &:hover, &:focus-within {
    border: 1px solid #ccc;

    .icon {
      color: #cccccc;
    }

    .description {
      color: #bbbbbb;
    }
  }
}

.icon {
  color: #dddddd;
  font-size: 4rem;
  transition: color .2s;
}

.description {
  margin-top: 1rem;
  color: #dddddd;
  transition: color .2s;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}