@import "pages/styles/variables";

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-shrink: 0;
  bottom: 0;
  box-shadow: 0 -20px 20px -20px darken($levelFirstShadowColor, 5%);
  background: white;
  z-index: 100;
  padding: 2rem 1rem;
}

.button {
  width: 50%;
  display: flex;
  justify-content: center;
}

.pages {
  flex-grow: 1;
}

.wrapper {
  height: 100%;
}
