@import "pages/styles/variables";
@import "pages/styles/layout";

.spaced {
  > div {
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: padding-top .4s;
  padding-top: 1rem;

  &:first-child {
    border: 0;
  }

  &:after {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    height: 3px;
    background-image: linear-gradient(90deg, #f2f2f2, #f2f2f2 60%, transparent 60%, transparent 100%);
    background-size: 20px 1px;
    border: none;
    display: none;
  }
}

.wrapper {
  background: $levelFirstBackgroundColor;
  margin-left: -2rem;
  margin-right: -2rem;
  flex-grow: 1;
  margin-bottom: -1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 2rem 1rem;
}