@import "pages/styles/variables";

.container {
  position: absolute;
  font-family: "Roboto", serif;
  width: 1000px;
  min-height: 1350px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
  margin-bottom: 50px;
  box-shadow: 0 0 50px $mainShadowColor;

  p {
    //margin: .5rem 0;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -50px;
    height: 1px;
    width: 1px;
    visibility: hidden;
  }

  &.print:after {
    display: none !important;
  }
}

.print {
  width: 100vw !important;
  position: static !important;
  box-shadow: none !important;
  min-height: auto !important;
  margin-bottom: 0 !important;
  flex-grow: 1;
}

@media print {
  @page {
    margin-top: 1cm;
  }
  @page :first {
    margin-top: 0;
  }
}