.navigation {
  width: 100px;
  height: 100%;
  display: flex;
  background: #333;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  z-index: 10;

  &:after {
    position: absolute;
    left: 100%;
    content: "";
    height: 100%;
    width: 0;
    transition: width 1s;
    background: white;
    z-index: 9;
  }
}

.container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  z-index: 30;
  height: 100%;
}

.open {

}

.open .filling {
  width: calc(220px + 2rem);
}

.filling {
  flex-shrink: 0;
  transition: width .5s;
  background: #333;
  width: 0;
  height: 100%;
  z-index: 2;
  content: "";
}