.item {
  color: #333333;
  padding-top: .5rem;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;

  &:before {
    content: "";
    position: absolute;
    border: 1px solid #333333;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    left: calc(-2.5rem);
    background: white;
    transform: translateX(-50%);
  }
}

.subtitle {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #aaa;
  margin-top: .5rem;
}

.date {
  font-size: .9rem;
  font-weight: 300;
  color: #666;
}

.content {
  margin-top: .5rem;
  color: #555;
}

.header {
  @media print {
    page-break-inside: avoid;
  }
}