@import "pages/styles/variables";

.button {
  background: lighten(#0275d8, 10%);
  padding: 1rem 2rem;
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  border: 0;
}

.outline {
  box-shadow: 0 0 20px $levelFirstShadowColor;
  border: 1px solid $levelFirstBorderColor;
}