@import "../../../../pages/styles/variables";

$descriptionPaddingBottom: .7;

.radio {
  width: 100%;
  border-bottom: 1px solid $levelFirstBorderColor;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.indicator {
  position: absolute;
  font-weight: 400;
  border: 1px solid #eeeeee;
  background: white;
  width: 1.5rem;
  height: 70%;
  display: flex;
  align-items: center;
  margin-left: 1px;
  justify-content: center;
  color: black;
  transition: transform .5s;
  box-sizing: border-box;
  z-index: 2;
  border-radius: .3rem;
}

.elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.icon {
  padding: 1.6rem - $descriptionPaddingBottom 1.8rem - $descriptionPaddingBottom;
  position: absolute;
  color: #333333;
  z-index: 3;
  background: white;
}

.value {
  margin-left: .8rem;
}

.element {
  padding: 1.6rem - $descriptionPaddingBottom 1.8rem - $descriptionPaddingBottom;
  border-radius: 50%;
  color: #999999;
  cursor: pointer;
  background: white;
  z-index: 1;

  &:first-child {
    margin-left: 1rem;
  }

  &:last-child {
    margin-right: 1rem;
  }

  &:hover {
    color: black;
  }
}

.description {
  padding-bottom: 0rem + $descriptionPaddingBottom
}