.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.builder {
}

.wrapper {
  display: flex;
  position: relative;
}

.curriculum {
  position: relative;
  transform: scale(.830);
}