@import "./../section.module";
@import "pages/styles/variables";

.profile {
  background: white;
  padding: 1rem 2rem 2rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid $levelFirstBorderColor;
  box-shadow: 0 0 20px $levelFirstShadowColor;
}

.wrapper {
  background: $levelFirstBackgroundColor;
  margin-left: -2rem;
  margin-right: -2rem;
  flex-grow: 1;
  margin-bottom: -1rem;
}

.title {
  font-family: "Roboto", serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.item {
  padding: 1rem;
  color: #444;
  margin: 1rem 0;
  display: flex;
  border-radius: 3px;
  border: 1px solid #f5f5f5;
  box-shadow: 3px 3px 2px #eee;
}

.items {
  border: 1px solid #eeeeee;
  padding: 1rem;
  position: relative;
  margin-top: 2.5rem;
}

.desc {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  background: white;
  top: 0;
  transform: translateY(-50%);
  padding: .5rem;
}

.visibility {
  margin-left: auto;
  color: #ccc;
  cursor: pointer;
  &.toggled {

  }
  &:hover {
    color: #999999;
  }
}