@import "pages/styles/variables";

.button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  transition: width .5s, background-color .5s;
  cursor: pointer;

  &.slide:hover {
    width: 220px;
    box-shadow: inset 0 0 8px -3px black;
    transition: background-color 0s, width .5s;
  }

  &.slide:hover .content {
    opacity: 1;
    width: 100%;
  }

  &.slide:hover .icon {
    box-shadow: -1px 0 8px -3px black;
  }

  &:hover .icon {
    box-shadow: -1px 0 8px -3px #999;

    transition: background-color .1s;
  }

  &.primary {
    &.styleOutline {
      &:hover {
        background: lighten(#0275d8, 20%);
      }

      .content {
        color: lighten(#0275d8, 60%);
      }

      .icon {
        color: lighten(#0275d8, 25%);
        background: white;
        border: 2px solid lighten(#0275d8, 25%);
      }
    }

    &.styleNormal {
      &:hover {
        background: darken($primaryColor, 5%);
      }

      .content {
        color: lighten(#0275d8, 60%);
      }

      .icon {
        background: $primaryColor;
      }
    }
  }

  &.danger {
    &.styleOutline {
      &:hover {
        background: lighten(#d9534f, 0%);
      }

      .content {
        color: lighten(#d9534f, 60%);
      }

      .icon {
        color: lighten(#d9534f, 10%);
        background: white;
        border: 2px solid lighten(#d9534f, 10%);
      }
    }

    &.styleNormal {
      &:hover {
        background: lighten(#d9534f, 0%);
      }

      .content {
        color: lighten(#d9534f, 60%);
      }

      .icon {
        background: lighten(#d9534f, 5%);
      }
    }
  }

  &.disabled {
    pointer-events: none;

    background: #ddd !important;
    transition: background-color .5s, width .5s !important;

    .icon {
      background: #ddd !important;
      transition: background-color .5s;
    }

    .content {
      background: #ddd !important;
      transition: background-color .5s;
    }
  }
}

.directionRight {
  .content {
    margin-left: -25px;
  }

  .icon {
    right: -1px;
  }
}

.directionLeft {
  .content {
    margin-right: -25px;
  }

  .icon {
    left: -1px;
  }
}

.content {
  white-space: nowrap;
  opacity: 0;
  transition: opacity .5s, background-color .5s;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  width: 0;
}


.icon {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -1px;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
}

.styleOutline {
  .icon {
    box-sizing: border-box;
  }
}