.title {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Montserrat", serif;
}

.subtitle {
  font-size: 1.1rem;
  margin-top: .5rem;
  opacity: .7;
  font-weight: 400;
  font-family: "Roboto", serif;
}

.header {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}