.item {
  font-family: "Montserrat", serif;
  position: relative;
  cursor: pointer;
  color: #999;

  &:hover, &.clicked {

    .box {
      color: white;
    }

    .title {
      color: white;
    }

    .arrow {
      flex-grow: 1;
      transition: all .5s;
      opacity: 1;
    }

  }
}

.box {
  position: relative;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: color .2s;
  background: #333;
}

.bottom {
  border-bottom: none;
  margin-top: auto;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;
  font-weight: 300;
  top: 0;
  bottom: 0;
  left: calc(-100% - 2rem);
  font-size: 1.2rem;
  color: #dddddd;
  transition: left .5s, color .2s;
  z-index: 10;
}

.open .title {
  left: 100%;
  transition-delay: .1s;
}

.box svg {
}

.spin .box svg {
  transition: transform .5s;
}

.open.spin .box svg {
  transform: rotate(180deg);
}

.arrow {
  text-align: right;
  margin-right: .5rem;
  margin-left: 2rem;
  transition: all .5s;
  opacity: 0;
}