@import "pages/styles/variables";

.wrapper {
  border: 1px solid #ddd;
  transition: border .2s, box-shadow .2s;
  flex-grow: 0;
  width: 100%;

  &:focus-within {
    border-color: $primaryColor;
    border-width: 1px;
    box-shadow: 0 0 2px 0 #0275d8;

    & .toolbar {
      border-color: #ccc;
    }
  }
}

.editor {
  padding: 1rem;
  min-height: 100px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  transition: border .2s;
}