.draggable-card.smooth-dnd-draggable-wrapper.card-active {
  padding-top: 2rem;

  & + .draggable-card {
    padding-top: 2rem;
  }
}

.smooth-dnd-draggable-wrapper {
  overflow: initial !important;
}

.smooth-dnd-container {}