.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.public-DraftEditorPlaceholder-root {
  color: #999;
  position: absolute;
  z-index: 0;
}

strong {
  font-weight: 600;
}

.public-DraftEditorPlaceholder-hasFocus {
  color: #dddddd;
}

.DraftEditorPlaceholder-hidden {
  display: none;
}