.row {
  display: flex;
  flex-direction: row;
}

.col100 {
  width: 100%;
}

.col12 {
  width: 50%;
}

.col13 {
  width: calc(100% / 3);
}

.col25 {
  width: calc(100% / 5 * 2);
}

.col35 {
  width: calc(100% / 5 * 3);
}

.col45 {
  width: calc(100% / 5 * 4);
}

.col23 {
  width: calc(100% / 3 * 2);
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}