$levelFirstBackgroundColor: darken(#fff, 5%);

$levelFirstShadowColor: darken($levelFirstBackgroundColor, 12%);
$levelFirstBorderColor: darken($levelFirstBackgroundColor, 8%);

$mainBackgroundColor: darken($levelFirstBackgroundColor, 10%);
$mainShadowColor: darken($mainBackgroundColor, 10%);

$primaryColor: lighten(#0275d8, 10%);
$secondaryColor: #d9534f;