@import "fonts";
@import "editor";
@import "cards";
@import "layout";

body, html {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: $mainBackgroundColor;
}

@media print {

  html, body, #__next {
    height: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    flex-grow: 10;
  }
}

#sheet {
  ul {
    padding-left: 1rem;
    margin: 0 0 1rem;
  }

  li {
    padding-left: 0;
  }
}