@import "pages/styles/variables";

.container {
}

.wrapper {
  &.animateTitle:focus-within .description {
    padding-left: 4rem;

    &:before {
      width: 2rem;
      margin-left: -3rem;
    }
  }
}

.inputWrapper {
  position: relative;
  transition: padding-left .5s;


  &:after {
    position: absolute;
    height: 3px;
    background: lighten($primaryColor, 5%);
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 1s;
  }

  &:focus-within {
    &:after {
      width: 100%;
    }


    .icon {
      padding-left: 1.5rem;
    }
  }
}

.input {
  font-family: "Roboto", serif;
  padding: 1rem 0 1rem 3.25rem;
  border: 0;
  border-bottom: 1px solid #ddd;
  width: calc(100% - 3.25rem);
  font-size: 1rem;
  font-weight: 300;
  background: transparent;
  transition: padding-left .5s, width .5s;

  &:focus {
    padding-left: 4rem;
    width: calc(100% - 4rem);
    outline: none;
  }

  &::placeholder {
    color: #999;
    font-weight: 300;
    font-family: "Roboto", serif;
  }

  &:-webkit-autofill {
    border-bottom-width: 2px;
  }

}

.icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  padding-left: 1rem;
  color: #555;
  transition: padding-left .5s;
}

.description {
  position: relative;
  padding-bottom: .2rem;
  font-weight: 400;
  transition: padding-left .5s, padding-top .5s;

  &:before {
    content: "";
    height: 0;
    border-top: 5px dotted #777;
    position: absolute;
    width: 0;
    margin-left: 0;
    top: 55%;
    transform: translateY(-100%);
    transition: width .5s, margin-left .5s;
  }
}

.wrapper {
  position: relative;

  &:focus-within {
    &:after {
      opacity: 1;
    }
  }
}
