$completeColor: lighten(#0275d8, 25%);

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  width: 100%;

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &:last-child {
    .barRight, .progressBarRight {
      display: none;
    }
  }
}

.barLeft, .barRight, .progressBarLeft, .progressBarRight {
  position: absolute;
  content: "";
  height: 4px;
  width: calc(50% - 17px / 2);
  background: #eee;
}

.progressBarLeft, .progressBarRight {
  z-index: 1;
  transition: all .5s;
  background: $completeColor;

  &:not(.complete) {
    width: 0;
    transition: all .5s;
  }
}

.barRight, .progressBarRight {
  left: calc(50% + 17px / 2);
}

.barLeft, .progressBarLeft {
  left: 0;
}

.icon {
  color: white;
  transform: translateY(0px);
}

.circle {
  position: absolute;
  border: 4px solid white;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;

  &.complete {
    background: $completeColor;
    transition: background-color 200ms;
  }
}

.subcircle {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 19;
  background: white;
  transform: translateX(-50%) translateY(-50%);

  &.complete {
    background: white;
  }
}

.text {
  bottom: .7rem;
  position: absolute;
  font-weight: 500;
  color: #666;
  z-index: 200;
}