.title {
  display: flex;
  align-items: center;
  font-weight: 400;
  white-space: nowrap;
  color: #333;

  &:before, &:after {
    content: "";
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  &:before {
    margin-right: 1rem;
  }

  &:after {
    margin-left: 1rem;
  }
}

.items {
  list-style-type: none;
  padding-left: 2.5rem;
  color: #333;
  margin-left: 1.5rem !important;
}