@import "pages/styles/variables";

.indicator {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .5s;

  &:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    pointer-events: none;

    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    display: none;
  }
}

.icon {
  position: absolute;
  color: white;
  font-size: 1rem;
}

.ready {
  background: $primaryColor;

  &:before {
    display: block;
    background: $primaryColor;
  }

  &:hover {
    background: darken($primaryColor, 5%);
  }
}

.error {
  background: $secondaryColor;
}

.pending {
  background: orange;

  .icon {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite; /* The magic keyword for infinite*/
    animation-fill-mode: forwards;
  }
}

@keyframes pulse {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 6rem;
    height: 6rem;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}