.rating {
  position: relative;
}

.item {
  margin-bottom: 3rem;
}

.opinion {
  position: absolute;
  bottom: -1.5rem;
  right: 0;
}

.container {
  @media print {
    page-break-inside: avoid;
  }
}