@import "pages/styles/variables";

.navigation {
  background: #e1e1e1;
  display: flex;
  padding: .5rem;
  flex-direction: column;
}

.sheet {
  box-sizing: border-box;
  background: white;
  width: 210px;
  height: 300px;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  box-shadow: 0 0 10px -2px #777;
  position: relative;
}

.show {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: -.5rem;
  bottom: -.5rem;
  border-radius: 2.5rem;
  background: $primaryColor;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;
  cursor: pointer;

  &:hover {
    background: darken($primaryColor, 10%);
  }
}

.input {
  background: transparent;
  border: 0;
  width: 100%;
  padding: 1rem;
  font-weight: 400;
  font-size: 1rem;
  box-sizing: border-box;

  &::placeholder {
    font-weight: 300;
    color: #aaa;
  }
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

.footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.delete {
  color: #bbb;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .2s;
  cursor: pointer;

  &:hover {
    color: #666;
  }
}

.content {
  width: 90%;
}

.image {
  background: #f1f1f1;
}

.main {
  padding: .5rem 1rem;
}

.description {
  margin-top: .5rem;
  font-size: .8rem;
}

.value {
  font-size: .7rem;
  color: #999999;
}