.logo {
  font-family: "Kaushan Script", serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  padding-bottom: 5px;
  color: white;
}

.subtext {
  font-family: "Merriweather", serif;
  color: lighten(#0275d8, 30%);
  font-size: .8rem;
  margin-left: .2rem;
  margin-top: -.4rem;
  font-weight: 600;
  font-style: italic;
}