@import "./../section.module";
@import "pages/styles/variables";

.others {
  background: white;
  padding: 1rem 2rem 2rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid $levelFirstBorderColor;
  box-shadow: 0 0 20px $levelFirstShadowColor;
}

.wrapper {
  background: $levelFirstBackgroundColor;
  margin-left: -2rem;
  margin-right: -2rem;
  flex-grow: 1;
  margin-bottom: -1rem;
}

.title {
  font-family: "Roboto", serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.description {
  margin-bottom: .5rem;
}