@import "../../../../pages/styles/variables";

.textarea {
  font-family: "Montserrat", serif;
  width: calc(100% - 2rem);
  border: 0;
  position: relative;
  font-size: 1rem;
  padding: 1rem;
  min-height: 4rem;
  resize: none;
  overflow-y: hidden;
  margin-top: 0;

  transition: border-bottom-color .1s;

  &:focus {
    &:after {
      width: 100%;
    }

    border-bottom-color: darken($levelFirstBorderColor, 20%);
  }

  &:after {
    left: 0;
    bottom: 0;
  }

  &::placeholder {
    color: #999;
    font-weight: 300;
    font-family: "Roboto", serif;
  }
}

.wrapper {
  width: 100%;
  display: block;

  &:focus-within .description {
    padding-left: 4rem;

    &:before {
      width: 2rem;
      margin-left: -3rem;
    }
  }

  border-bottom: 1px solid $levelFirstBorderColor;

  &.bordered {
    border: 1px solid $levelFirstBorderColor;
    position: relative;

    .description {
      display: inline-block;
      padding: 0 1rem;
      margin-left: 1rem;
      top: 0;
      background: white;
      transform: translateY(-50%);

      &:before {
        display: none;
      }
    }

    .textarea {
      padding: .5rem 2rem 1rem;
    }

    &:focus-within {
      border-color: darken($levelFirstBorderColor, 10%);
    }
  }
}

.description {
  padding-bottom: .2rem;
  position: relative;
  transition: padding-left .5s, padding-top .5s;

  &:before {
    content: "";
    height: 0;
    border-top: 5px dotted #777;
    position: absolute;
    width: 0;
    margin-left: 0;
    top: 55%;
    transform: translateY(-100%);
    transition: width .5s, margin-left .5s;
  }
}

.input {
  display: flex;
}