@import "pages/styles/variables";
@import "pages/styles/layout";

$borderColor: darken($levelFirstBorderColor, 5%);
$iconColor: darken($levelFirstBorderColor, 5%);

.content {
  min-height: 0;
  max-height: 0;
  display: none;
  transition: min-height .4s, padding-bottom .4s;
}

.spaced {
  > div {
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card {
  border-radius: 5px;
  position: relative;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 0 0 20px $levelFirstShadowColor;

  background: white;
  overflow: hidden;

  &.active {
    padding-bottom: 2rem;

    .content {
      transition: none;
      max-height: 99999px;
      display: block;
    }

    .title {
      padding-bottom: 2rem;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &:after {

  }
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: -1rem;
  margin-right: -1rem;
  position: relative;
  margin-top: -1rem;
  transition: margin-left .4s, margin-right.4s, margin-top.4s, padding-bottom .4s;

  .icon {
    color: #333333;
    font-weight: 500;
    border: 1px solid $borderColor;
    padding: 1rem;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .drag {
    color: $iconColor;
    position: absolute;
    right: 0;
    cursor: move;
    padding: 2rem;
    opacity: 1;
    transition: opacity .2s, color .2s;
    pointer-events: initial;

    &.active {
      pointer-events: none;
      opacity: 0;
    }

    &:hover {
      color: #aaaaaa;
    }
  }

  .close {
    color: $iconColor;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s, color .2s;

    &.active {
      pointer-events: initial;
      opacity: 1;
    }

    &:hover {
      color: #aaaaaa;
    }
  }

  .toggle {
    color: $iconColor;
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 2rem;
    transition: transform .1s, color .2s;

    &:hover {
      color: #aaaaaa;
    }

    &.active {
      transform: rotate(180deg);
    }
  }

  .number {
    font-weight: 500;
    margin-left: .4rem;
  }

  &:before {
    margin-right: 1rem;
  }

  &:after {
    margin-left: 1rem;
  }
}