@import "../Input/input.module";

.optional {
  margin-top: .5rem;
  font-size: .8rem;
  bottom: 0;
  right: 0;
  float: right;
  margin-left: auto;
  color: #aaa;

  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;

    &:checked + .checkbox {
      background: lighten($primaryColor, 5%);
      border: 0;

      .checkmark {
        opacity: 1;
      }
    }
  }
}

.checkbox {
  margin-left: .5rem;
  right: 0;
  bottom: -2.2rem;
  z-index: 2;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  margin-left: .1rem;
  margin-top: .05rem;
  font-size: .8rem;
  color: white;
  opacity: 0;
}