.icon {
  font-size: 6rem;
  box-sizing: border-box;
  background: #eeeeee;
  width: 100%;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  svg {
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.image {
  width: 100%;
}