@import "pages/styles/layout";
@import "pages/styles/variables";

.logo {
  flex-shrink: 1;
}

.navigation {
  background: #333333;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  font-family: "Roboto", serif;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.sheet {
  box-sizing: border-box;
  background: white;
  width: 210px;
  height: 300px;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  box-shadow: 0 0 10px -2px #777;
  position: relative;
}

.create {
  @extend .sheet;
  background: transparent;
  border: 3px dashed $primaryColor;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;
  cursor: pointer;
  box-shadow: none;

  &:hover {
    background: rgba(255, 255, 255, .6);
  }
}

.content {

}

.contentTitle {
  font-weight: 400;
  margin: 0;
  padding: 2rem;
  font-size: 1.4rem;
}

.createButton {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: $primaryColor;
  font-size: 1.2rem;
}

.navItem {

}

.sheets {
  display: flex;
  flex-wrap: wrap;
  margin-top: -2rem;
}

.topbar {
  background: white;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
}