@import "pages/styles/variables";

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.wrapper {
  position: relative;
  height: 100%;
}

.page {
  position: relative;
  height: 100%;
  display: none;
  flex-direction: column;
  transition: margin-top 1s, margin-bottom 1s, top 1s, bottom 1s, opacity .5s, height .5s;
  opacity: 1;
  flex-shrink: 0;

  &.active {
    display: flex;
  }
}

.hide {
  opacity: 0;
  z-index: 0;
}

.title {
  box-shadow: 0 10px 20px -8px darken($levelFirstShadowColor, 5%);
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  z-index: 5;
  flex-shrink: 0;
}