.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.75rem;
  color: #333333;
  position: relative;

  @media print {
    break-inside: avoid;
    break-before: auto;
  }
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  background: #333333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2.25rem;
  margin-right: 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

.content {
  margin-left: -1rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;

  &.border {
    border-left: 1px solid #333333;
  }
}

.section:last-child .content {
  padding-bottom: 0;
}