.icon {
  margin-left: -2.5rem;
  margin-right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  background: #333333;
  color: white;
}

.transparent {
  color: #333333;
  background: transparent;
}

.contents {
  width: 100%;
  text-align: right;
  margin-left: auto;
  @media print {
    page-break-inside: avoid;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  @media print {
    page-break-inside: avoid;
  }

}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.title {
  white-space: nowrap;
}